<div class="row">
  <h1>Sign Up</h1>
  <hr/>
</div>

<div class="row">
  <% if @user.errors.any? %>
    <div>
      <strong>Missing some fields from your submission:</strong>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row">
  <form action="/sessions/register" method="post">
    <div>
      First Name : <input name="first_name" type="text" placeholder="first name" value="<%= @user.first_name %>">
    </div>
    <div>
      <!-- get first name and last name to be in one line -->
      Last Name : <input name="last_name" type="text" placeholder="last name" value="<%= @user.last_name %>">
    </div>
    <div>
      Email : <input name="email" type="text" placeholder="email" value="<%= @user.email %>">
    </div>
    <div>
      Password : <input name="password" type="password" placeholder="password">
    </div>
    <div>
      Confirm Password : <input name="password_confirmation" type="password" placeholder="confirm password">
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="Submit">
      <a class="btn btn-default" href="/" role="button">Home</a>
    </div>
  </form>
</div>