
<nav class="navbar navbar-new navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Pubcrawl</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li data-toggle="modal" data-target="#myModal"><a href="#"><i class="fa fa-beer fa-lg"></i> Create new crawl<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sessions/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/sessions/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <li><a href="#">Placeholder</a></li>
      </ul>
    </div>
  </div>
</nav>