p {
  font-size: 1em;
  line-height: 2em;
}

#map {
    /*changed from 66% width*/
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

#crawl-bars {
  display: inline-block;
}

.jumbotron {
  margin-top: 60px;
  padding: 0;
}
