<div class="row">
  <div class="col-lg-12">
    <h2>Add a bar to crawl (get name of crawl)</h2>

    <form method="post" action="/crawl/new">

      <div class="form-group">
        <label>Bar Name</label>
        <input type="text" class="form-control" name="name" value="<%= @bar1.name %>" placeholder="Bar #1 - Name">
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" name="address" value="<%= @bar1.address %>" placeholder="Street Address">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="address" value="<%= @bar1.city %>" placeholder="City">
      </div>
      <br/>

      <div>
        <input class="btn btn-default" type="submit" value="Create new crawl!">
      </div>
    </form>

  </div>
</div>

<hr/>