<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
    <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
    <!--
    application.css is where you put your styles
  -->
    <!--     <link rel="stylesheet" href="/stylesheets/application.css"> -->
    <!-- Latest compiled and minified CSS -->

    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:700,600,400' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/normalize.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--
    application.css is where you put your styles
  -->
    <link rel="stylesheet" href="/stylesheets/application.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="/javascript/application.js"></script>
    <title></title>
  </head>
  <body>

    <!-- CREATE NEW CRAWL Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create new crawl</h4>
            </div>
            <div class="modal-body">
              <!-- form 'end' in separte div to move button -->
              <form method="post" action="/crawl/new">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="New crawl name (required)">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="description" placeholder="Crawl description (optional)">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-info" value="Create new crawl">
              </form>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <!-- had to get rid of universal container to implement jumbotron -->
    <!-- changed navbar to fixed-top -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pubcrawl</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li data-toggle="modal" data-target="#myModal"><a href="#"><i class="fa fa-beer fa-lg"></i> Create new crawl<span class="sr-only">(current)</span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="#">Placeholder</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!--     <div class="jumbotron">
      <div class="row">
        <div id="map" class="col-lg-12"></div>
      </div>
    </div> -->
    <!-- <div class="container wrapper"> -->
    <%= yield %>
    <!-- </div> -->
  </body>
</html>